In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Importing the Data

In [2]:
df = pd.read_csv(r"D:\Study\BA\TEST\Students Adaptability Level in Online Education\students_adaptability_level_online_education.csv")

### Basic Check on data

In [3]:
df.head()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low

In [4]:
df.shape

(1205, 14)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               1205 non-null   object
 1   Age                  1205 non-null   object
 2   Education Level      1205 non-null   object
 3   Institution Type     1205 non-null   object
 4   IT Student           1205 non-null   object
 5   Location             1205 non-null   object
 6   Load-shedding        1205 non-null   object
 7   Financial Condition  1205 non-null   object
 8   Internet Type        1205 non-null   object
 9   Network Type         1205 non-null   object
 10  Class Duration       1205 non-null   object
 11  Self Lms             1205 non-null   object
 12  Device               1205 non-null   object
 13  Adaptivity Level     1205 non-null   object
dtypes: object(14)
memory usage: 131.9+ KB

In [6]:
df.isna().sum()

Gender                 0
Age                    0
Education Level        0
Institution Type       0
IT Student             0
Location               0
Load-shedding          0
Financial Condition    0
Internet Type          0
Network Type           0
Class Duration         0
Self Lms               0
Device                 0
Adaptivity Level       0
dtype: int64

In [7]:
df.nunique()

Gender                 2
Age                    6
Education Level        3
Institution Type       2
IT Student             2
Location               2
Load-shedding          2
Financial Condition    3
Internet Type          2
Network Type           3
Class Duration         3
Self Lms               2
Device                 3
Adaptivity Level       3
dtype: int64

### Checking P-Value

In [30]:
from scipy.stats import chi2_contingency
for col in df.columns:
    if col not in ['weight','Adaptivity Level']:
        table = pd.crosstab(index=df[col], columns=df['Adaptivity Level'], margins=True)
        result = chi2_contingency(table)
        print(col,'p-value =',result[1].round(4))

Gender p-value = 0.0364
Age p-value = 0.0
Education Level p-value = 0.0
Institution Type p-value = 0.0
IT Student p-value = 0.0033
Location p-value = 0.0
Load-shedding p-value = 0.1258
Financial Condition p-value = 0.0
Internet Type p-value = 0.0018
Network Type p-value = 0.0004
Class Duration p-value = 0.0
Self Lms p-value = 0.0
Device p-value = 0.0

##### Load-shedding having a p-Value above 0.05

### Checking the Unique Values within the columns

In [31]:
df["Gender"].value_counts()

Boy     663
Girl    542
Name: Gender, dtype: int64

In [32]:
df.groupby(["Gender","Adaptivity Level"])["Age"].count().unstack()

Adaptivity Level  High  Low  Moderate
Gender
Boy                 71  245       347
Girl                29  235       278

In [33]:
df["Age"].value_counts()

21-25    374
11-15    353
16-20    278
1-5       81
26-30     68
6-10      51
Name: Age, dtype: int64

In [34]:
df.groupby(["Age","Adaptivity Level"])["Age"].count().unstack()

Adaptivity Level  High    Low  Moderate
Age
1-5                NaN   17.0      64.0
11-15             28.0  120.0     205.0
16-20              5.0  144.0     129.0
21-25             38.0  139.0     197.0
26-30             12.0   36.0      20.0
6-10              17.0   24.0      10.0

In [35]:
df["Education Level"].value_counts()

School        530
University    456
College       219
Name: Education Level, dtype: int64

In [36]:
df.groupby(["Education Level","Adaptivity Level"])["Age"].count().unstack()

Adaptivity Level  High  Low  Moderate
Education Level
College              3  120        96
School              47  182       301
University          50  178       228

In [37]:
df["Institution Type"].value_counts()

Non Government    823
Government        382
Name: Institution Type, dtype: int64

In [38]:
df.groupby(["Institution Type","Adaptivity Level"])["Age"].count().unstack()

Adaptivity Level  High  Low  Moderate
Institution Type
Government          20  234       128
Non Government      80  246       497

In [39]:
df["IT Student"].value_counts()

No     901
Yes    304
Name: IT Student, dtype: int64

In [40]:
df.groupby(["IT Student","Adaptivity Level"])["Age"].count().unstack()

Adaptivity Level  High  Low  Moderate
IT Student
No                  67  391       443
Yes                 33   89       182

In [41]:
df["Location"].value_counts()

Yes    935
No     270
Name: Location, dtype: int64

In [42]:
df.groupby(["Location","Adaptivity Level"])["Age"].count().unstack()

Adaptivity Level  High  Low  Moderate
Location
No                   8  171        91
Yes                 92  309       534

In [43]:
df["Load-shedding"].value_counts()

Low     1004
High     201
Name: Load-shedding, dtype: int64

In [44]:
df.groupby(["Load-shedding","Adaptivity Level"])["Age"].count().unstack()

Adaptivity Level  High  Low  Moderate
Load-shedding
High                13  100        88
Low                 87  380       537

In [45]:
df["Financial Condition"].value_counts()

Mid     878
Poor    242
Rich     85
Name: Financial Condition, dtype: int64

In [46]:
df.groupby(["Financial Condition","Adaptivity Level"])["Age"].count().unstack()

Adaptivity Level     High  Low  Moderate
Financial Condition
Mid                    36  341       501
Poor                   22  129        91
Rich                   42   10        33

In [47]:
df["Internet Type"].value_counts()

Mobile Data    695
Wifi           510
Name: Internet Type, dtype: int64

In [48]:
df.groupby(["Internet Type","Adaptivity Level"])["Age"].count().unstack()

Adaptivity Level  High  Low  Moderate
Internet Type
Mobile Data         36  288       371
Wifi                64  192       254

In [49]:
df["Network Type"].value_counts()

4G    775
3G    411
2G     19
Name: Network Type, dtype: int64

In [50]:
df.groupby(["Network Type","Adaptivity Level"])["Age"].count().unstack()

Adaptivity Level  High    Low  Moderate
Network Type
2G                 NaN   16.0       3.0
3G                22.0  186.0     203.0
4G                78.0  278.0     419.0

In [51]:
df["Class Duration"].value_counts()

1-3    840
3-6    211
0      154
Name: Class Duration, dtype: int64

In [52]:
df.groupby(["Class Duration","Adaptivity Level"])["Age"].count().unstack()

Adaptivity Level  High    Low  Moderate
Class Duration
0                  NaN  144.0      10.0
1-3               82.0  290.0     468.0
3-6               18.0   46.0     147.0

In [53]:
df["Device"].value_counts()

Mobile      1013
Computer     162
Tab           30
Name: Device, dtype: int64

In [54]:
df.groupby(["Device","Adaptivity Level"])["Age"].count().unstack()

Adaptivity Level  High  Low  Moderate
Device
Computer            30   40        92
Mobile              68  438       507
Tab                  2    2        26

### Target Variable

In [55]:
df["Adaptivity Level"].value_counts()

Moderate    625
Low         480
High        100
Name: Adaptivity Level, dtype: int64

### Defining the Categorical Values:- 
#### Moderate = 0, 
#### Low =1, 
#### High = 2

In [56]:
df["Adaptivity Level"] = df["Adaptivity Level"].replace({"Moderate":0,
                               "Low":1,
                               "High":2})

### Converting the Values where unique is less than 2 to dummy values (0 or 1)

In [57]:
df.nunique()<3

Gender                  True
Age                    False
Education Level        False
Institution Type        True
IT Student              True
Location                True
Load-shedding           True
Financial Condition    False
Internet Type           True
Network Type           False
Class Duration         False
Self Lms                True
Device                 False
Adaptivity Level       False
dtype: bool

In [58]:
df = pd.get_dummies(df,columns=["Gender","Institution Type","IT Student","Location","Load-shedding","Internet Type","Self Lms"],drop_first=True)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Age                              1205 non-null   object
 1   Education Level                  1205 non-null   object
 2   Financial Condition              1205 non-null   object
 3   Network Type                     1205 non-null   object
 4   Class Duration                   1205 non-null   object
 5   Device                           1205 non-null   object
 6   Adaptivity Level                 1205 non-null   int64
 7   Gender_Girl                      1205 non-null   uint8
 8   Institution Type_Non Government  1205 non-null   uint8
 9   IT Student_Yes                   1205 non-null   uint8
 10  Location_Yes                     1205 non-null   uint8
 11  Load-shedding_Low                1205 non-null   uint8
 12  Internet Type_Wifi               1205 non-null   uint8
 13  Self Lms_Yes                     1205 non-null   uint8
dtypes: int64(1), object(6), uint8(7)
memory usage: 74.3+ KB

### Using LabelEncoder where the value is >3

In [60]:
df.select_dtypes(include="object").columns

Index(['Age', 'Education Level', 'Financial Condition', 'Network Type',
       'Class Duration', 'Device'],
      dtype='object')

In [61]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Age'] = le.fit_transform(df['Age'])
df['Education Level'] = le.fit_transform(df['Education Level'])
df['Financial Condition'] = le.fit_transform(df['Financial Condition'])
df['Network Type'] = le.fit_transform(df['Network Type'])
df['Class Duration'] = le.fit_transform(df['Class Duration'])
df['Device'] = le.fit_transform(df['Device'])

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Age                              1205 non-null   int32
 1   Education Level                  1205 non-null   int32
 2   Financial Condition              1205 non-null   int32
 3   Network Type                     1205 non-null   int32
 4   Class Duration                   1205 non-null   int32
 5   Device                           1205 non-null   int32
 6   Adaptivity Level                 1205 non-null   int64
 7   Gender_Girl                      1205 non-null   uint8
 8   Institution Type_Non Government  1205 non-null   uint8
 9   IT Student_Yes                   1205 non-null   uint8
 10  Location_Yes                     1205 non-null   uint8
 11  Load-shedding_Low                1205 non-null   uint8
 12  Internet Type_Wifi               1205 non-null   uint8
 13  Self Lms_Yes                     1205 non-null   uint8
dtypes: int32(6), int64(1), uint8(7)
memory usage: 46.0 KB

In [63]:
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [64]:
y = df['Adaptivity Level']
x = df.drop(['Adaptivity Level','Load-shedding_Low'],axis=1)

In [65]:
x.shape,y.shape

((1205, 12), (1205,))

In [66]:
y.value_counts()

0    625
1    480
2    100
Name: Adaptivity Level, dtype: int64

In [67]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=100)

In [68]:
Rtree = RandomForestClassifier(n_estimators=1000)

In [69]:
Rtree.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 1000,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

###### n_estimators - Numbers of Trees
###### max_features - Max number of features that are considered in spliting the node
###### max_depth - Max level of a tree
###### min_samples_leaf - min number of data points allowed in a leaf node
###### min_samples_split - min number of data point placed in a node before spliting

In [93]:
from sklearn.model_selection import RandomizedSearchCV
n_estimators = [1000,1500,2000]
max_depth = [6,8,12]
min_samples_split = [2, 5, 10]
min_samples_leaf = [2, 4,6,8]
max_leaf_nodes = [2,4,6,8]
search = {'n_estimators': n_estimators,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'max_leaf_nodes' : max_leaf_nodes
               }

In [94]:
rtree_S = RandomForestClassifier() 
rf_random = RandomizedSearchCV(estimator = rtree_S, param_distributions = search, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
rf_random.fit(x_train, y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

RandomizedSearchCV(cv=3, estimator=RandomForestClassifier(), n_iter=100,
                   n_jobs=-1,
                   param_distributions={'max_depth': [6, 8, 12],
                                        'max_leaf_nodes': [2, 4, 6, 8],
                                        'min_samples_leaf': [2, 4, 6, 8],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [1000, 1500, 2000]},
                   random_state=42, verbose=2)

In [95]:
rf_random.best_params_

{'n_estimators': 1000,
 'min_samples_split': 5,
 'min_samples_leaf': 2,
 'max_leaf_nodes': 8,
 'max_depth': 12}

In [96]:
rf_random.best_score_

0.684626200473417

In [104]:
Rtree = RandomForestClassifier(n_estimators=1000)

In [105]:
Rtree.fit(x_train,y_train)

RandomForestClassifier(n_estimators=1000)

In [106]:
prediction = Rtree.predict(x_test)

In [107]:
cm = confusion_matrix(y_test, prediction)

In [108]:
cm

array([[116,   9,   1],
       [  5,  86,   1],
       [  1,   0,  22]], dtype=int64)

In [109]:
print(classification_report(y_test,prediction))

              precision    recall  f1-score   support

           0       0.95      0.92      0.94       126
           1       0.91      0.93      0.92        92
           2       0.92      0.96      0.94        23

    accuracy                           0.93       241
   macro avg       0.92      0.94      0.93       241
weighted avg       0.93      0.93      0.93       241

In [110]:
XGB = XGBClassifier(n_estimators=1000,learning_rate=0.01)

In [111]:
Mat = [(x_test,y_test)]
XGB.fit(x_train,y_train,verbose=0)

D:\Program\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[17:23:19] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.01, max_delta_step=0,
              max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=1000, n_jobs=8,
              num_parallel_tree=1, objective='multi:softprob', predictor='auto',
              random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=None,
              subsample=1, tree_method='exact', validate_parameters=1,
              verbosity=None)

In [112]:
predictXGB = XGB.predict(x_test)

In [113]:
confusion_matrix(predictXGB,y_test)

array([[116,   7,   4],
       [ 10,  84,   0],
       [  0,   1,  19]], dtype=int64)

In [114]:
print(classification_report(y_test,predictXGB))

              precision    recall  f1-score   support

           0       0.91      0.92      0.92       126
           1       0.89      0.91      0.90        92
           2       0.95      0.83      0.88        23

    accuracy                           0.91       241
   macro avg       0.92      0.89      0.90       241
weighted avg       0.91      0.91      0.91       241